.li {
  list-style: none;
  text-align: center;
}
.country {
  text-align: center;
  margin: 10px;
  border: solid black;
  ol {
    list-style: none;
    display: contents;
  }
}
img {
  position: relative;
  border: solid red;
  height: 100%;
  width: 15vw;
}